@media (min-width: 1350px) and (max-width: 1450px) {

    html {
        overflow-x: hidden !important;
    }

    .header-section {
        margin-top: 6%;
    }

    .midder-three .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .iframe-container {
        width: 80%;
        height: 60vh;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
        overflow: hidden;
        position: relative;
        left: 10%;
        right: 0;
    }

    .midder-three .secimgone .textone {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-left: 50px;
    }

    .midder-three .secimgone .textthree {
        padding-top: 36px;
        padding-left: 40px;
    }

    .midder-three .secimgtwo .textone {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        left: -12px;
    }

    .midder-three .secimgtwo .texttwo {
        padding-top: 40px;
        padding-left: 0px;
        width: 28rem;
    }

    .midder-three .secimgtwo .textthree {
        padding-top: 34px;
        padding-left: 90px;
    }

    .midder-three .secimgfour .texttwo {
        padding-top: 38px;
        padding-left: 0px;
        width: 30rem;
    }

    .midder-three .secimgthree .textone {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-left: 40px;
    }

    .midder-three .secimgfour .textone {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        left: -12px;
    }

    .midder-three .secimgfour .textthree {
        padding-top: 32px;
        padding-left: 90px;
    }

    .midder-three .secimgfive .textone {
        padding-top: 80px;
        padding-bottom: 10px;
        padding-left: 42px;
    }

    .midder-three .secimgfive .texttwo {
        padding-top: 30px;
        padding-left: 30px;
    }

    .midder-three .secimgfive .textthree {
        padding-top: 36px;
        padding-left: 40px;
    }

    .midder-three .secimgthree .textthree {
        padding-top: 36px;
        padding-left: 50px;
    }

    .midder-three .secimgone .texttwo h2,
    .midder-three .secimgtwo .texttwo h2,
    .midder-three .secimgthree .texttwo h2,
    .midder-three .secimgfour .texttwo h2,
    .midder-three .secimgfive .texttwo h2 {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .midder-three .secimgone .texttwo h3,
    .midder-three .secimgtwo .texttwo h3,
    .midder-three .secimgthree .texttwo h3,
    .midder-three .secimgfour .texttwo h3,
    .midder-three .secimgfive .texttwo h3 {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
    }

    .element-box::before {
        content: "";
        background: url('../img/element-cube.png') center center / auto no-repeat;
        position: absolute;
        top: 112%;
        left: 74%;
        width: 24%;
        height: 24%;
    }

    .element-circle::before {
        content: "";
        background: url('../img/element-sircle.png') center center / auto no-repeat;
        position: absolute;
        top: auto;
        left: 74%;
        width: 14%;
        height: 14%;
        /* z-index: -1; */
    }

    .element-box::before {
        content: "";
        background: url('../img/element-cube.png') center center / auto no-repeat;
        position: absolute;
        top: 114%;
        left: 78%;
        width: 24%;
        height: 24%;
    }

}